@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
    --first-color:#e3f8ff;
    --second-color:#dcfafb;
    --third-color:#ffe8df;
    --accent-color:#ff5151;
    --dark-color:#161616;
}

:root{
    --body-font:'Open Sans', sans-serif;
    --h1-font-size:1.5em;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:0.75rem;
}

@media screen and(min-width:768px){
    :root{
    --h1-font-size: 2em;
    --normal-font-size:1rem;
    --smaller-font-size:0.813rem;
}
}




*,::after,::before{
   
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    margin:2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
}
img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}


.main{
    padding: 2rem 0;

}

.bd-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit);
    max-width: 1200px;
    margin: 2.5rem;
    margin-right:2.5rem;
    align-items: center;
    gap: 2rem;
}

.title-shop{
    position: relative;
    margin: 0 2.5rem;
}

.title-shop::after{
    content: "";
    position: absolute;
    top: 50%;
    width:72px;
    height: 2px;
    background-color:var(--dark-color);
    margin-left: .25rem;
}

.card{
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        overflow: hidden;

}

article:nth-child(1){
    background-color: var(--first-color);
}

article:nth-child(2){
    background-color: var(--second-color);
}

article:nth-child(3){
    background-color: var(--third-color);
}

article:nth-child(4){
    background-color: var(--first-color);
}

.card_img{
    width:100px;
    height: auto;
    padding:3rem 0;
    transition:.5s
}

.card_name{
    position: absolute;
    left: 25%;
    top: 0;
    width:3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;


}

.card_icon{
font-size: 1.5em;
color: var(--dark-color);
}

.card_icon:hover{
    color:var(--accent-color);
}
.card_precis{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.card_preci--before{
    font-size: var(--smaller-font-size);
    color:var(--accent-color);
    margin-bottom: .25em;
}

.card_preci--now{
    font-size:var(--h3-font-size);
    font-weight: bold;
}

.card:hover{
    box-shadow: 0 .5rem 1rem #d1d9e6;
  
}
.card:hover .card_name{
    left:0;
}

.card:hover .card_img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}

.card:hover .card_precis{
    margin-left: 3.5rem;
    padding:0 1.5rem;
}

@media screen and(min-width:1200px){
    body{
        margin: 3rem 0 0 0;
        
    }
        .title-shop{
            margin: 0 5rem;
        }
        .bd-grid{
            margin-left:auto;
            margin-right: auto;
        }
}